$def with (form)


<div class="row">
  <div class="span12">
    <h1>Clearer: Estimate adverse effect burden of a list of medications</h1>
    <p>This tool provides a summary estimate of risk for a particular category of adverse effects, based on aggregating adverse effect
frequency from a list of prescription medications. Frequencies are estimated based on package insert labeling and postmarketing surveillance.
If the 'p450 engine' box is checked, the most common cyp450 drug interactions are also modelled. If the 'use frequency' box is checked, frequencies
from labels will be used; otherwise any reported adverse effect is weighted equally, reflecting the imprecision of AE reports. 
</p>
     <p>Disclaimer: This tool is not intended to diagnose, treat, cure, or prevent any disease.<br>
     <p>Disclaimer #2: This tool is still in active development. <br>
    </div>
</div>

<div class="row">

	<div class="span8 offset2">

		<form name="main" method="post" class="form-horizontal"> 
			$if not form.valid: <p class="error">Please correct the errors below:</p>

  <legend>Drug list</legend>

    <div class="control-group">
      <label class="control-label" for="">Enter drugs using generic name</label>
      <div class="controls">
          $:form.Druglist.render()
      </div>
    </div>

  <legend>Comparator group</legend>

    <div class="control-group">
      <label class="control-label" for="">Comparators</label>
      <div class="controls">
          $:form.Comparator.render()
      </div>
    </div>

 <legend>Other options</legend>
    <div class="control-group">
      <label class="checkbox inline" for="">
            $:form.Option_1.render()
           Use frequency data</label>
      <label class="checkbox inline" for="">
            $:form.Option_2.render()
           Use p450 engine</label>

    <hr>

<button type="submit" class="btn">Submit</button>
    </div>
    </form>


</div>

